.container{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 10px;
}
td{
    text-align: left;
    padding: 5px;
    margin: 5px;
}
tr{
    justify-content: space-around;
    text-align: left;
}

.contactUs{
    display: block;
}

.EmailTitle{
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    width: 75%;
}

input{
    padding: 10px;
    margin: 10px 0px 0px 0px;
    display: block;
}

textarea{
    padding: 10px;
    margin-top: 10px;
    display: block;
}

#message{
    height: 105px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}



