.Schedule{
    align-items: center;
    width: 75%;
    min-width: 320px;
    margin-left: 12.5%;
    margin-bottom: 2%;
}

th,td{
    width: 25%;
    text-align: center;
    padding-top: 2%;
    border: 2px solid transparent;
    background-color: white;
}

tr{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

p{
    text-align: center;
    margin: 10px;
}